/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
:root{
  max-width: fit-content !important;
}

.home-card{
  border-color: rgb(182, 221, 255);
    border-style: solid;
    border-radius: 1rem;
    /* border-width: 1rem; */
    background-color: #019CCC;
    print-color-adjust: exact;
    height: 250px;

    width: 100vw;
    max-width: 100vw !important ;
    /* justify-content:left; */
    z-index: 1;
}

.home-title{
  position: absolute;
  /* padding-top: 0;
  padding-left: calc(300px) !important; */
  font-size: 3rem;
  display: inline-block !important;
  color: white !important;
  object-fit: contain;
}